<%- include("header"); -%>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" placeholder="New Item" name="task" autocomplete="off">
            <button type="submit" value= "<%= listTitle %>" name="submit">+</button>
            <!-- Used quotes around <%= listTitle %> to treat Work List as a single string -->
        </form>
    </div>
<%- include("footer") -%>